#Noti_main{
    margin: 0;
    padding: 0;
    height: 2200px;
    width: 100%;
}
#Null_box{
    width: 1200px;
    height: 1700px;
    margin: 0 auto;
}

#Noti_title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 155px;
}

#Noti_table {
    border-collapse: collapse;
}

#Noti_table td {
    text-align: center;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border-top: none; border-bottom: none;border-left: none;border-right: none;
}

.Noti_s{
    width: 250px;
}


.Noti_l{
    width: 550px;
}

#Noti_table #tr_contents {
    border-bottom: 1px solid white;
}

#tr_title {
    background: #c0c0c0;
    color: black;
    font-weight: bold;
}

#Noti_table thead #tr_title {
    font-weight: bold;
}

#Noti_table thead #tr_title {
    font-weight: bold;
}
#Nocr_inputs{
    display: block;
    width: 400px;
    height: 50px;
    border-radius: 40px;
    background: none;
    border: 2px solid #D9D9D9;
    padding-left: 30px;
    margin: 0 200px 0 380px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin-bottom: 85px;
}
.search-container {
    position: relative;
    width: 1200px; /* 원하는 너비로 조절 */
  }
  .search-icon1 {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
  }