#Noti-main{
    margin: 0;
    padding: 0;
    height: 2200px;
    width: 100%;
}
#Null-box{
    width: 1200px;
    height: 1700px;
    margin: 0 auto;
}

#Noti-inputs{
    display: block;
    width: 400px;
    height: 50px;
    border-radius: 40px;
    background: none;
    border: 2px solid #D9D9D9;
    padding-left: 30px;
    margin: 0 auto;
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin-bottom: 85px;
}

#Noti-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 155px;
}

#Noti-main table {
    border-collapse: collapse;
}

#Noti-main thead {
    font-weight: bold;
}

#Noti-main tr, #Noti-main td {
    width: 300px;
    text-align: center;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
}

#Noti-main #tr-contents {
    border-bottom: 1px solid white;
}

#Noti-main #tr-title {
    background: #c0c0c0;
    color: black;
    font-weight: bold;
}

#Noti-main table thead#tr-title {
    font-weight: bold;
  }

  .search-icon1 {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
  }