#Nocr_div {
    display: flex;
    height: 100px;
    margin-bottom: 100px;
}

.Nocr_btn{
    width: 170px;
    height: 64px;
    background: none;
    border: 2px solid #54ECC4;
    border-radius: 16px;
    line-height: 64px;
    color: #54ECC4;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s;
}

.Nocr_btn:hover{
    color: black;
    background:#54ECC4 ;
    font-weight: bold;
    transition: all 0.2s;
}

.search-container {
    position: relative;
    width: 1200px; /* 원하는 너비로 조절 */
}

  .search-icon {
    position: absolute;
    top: 29%;
    left: 72%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
    cursor: pointer;
  }
