#ND-main{
    margin: 0;
    padding: 0;
    padding: 100px;
    width: 100vw;
    height: 1000px;
}

#ND-box{
    width: 1500px;
    margin: 0 auto;
    padding-top: 200px;
}

#ND-title{
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px 0;
    padding: 0;
}

#ND-name{
    font-size: 24px;
    margin: 0 0 130px 0;
    padding: 0;
}

#ND-contents{
    font-size: 16px;
    line-height: 50px;
}