@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

.manApply {
    height: 1626px;
}
.manApply-only {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.manApply-title {
    margin: 209px 0 127px 0 ;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

/*검색창*/
.manApply-searchBar {
    display: flex;
    align-items: center;
    width: 400px;
    height: 48px;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    margin-bottom: 86px;
}
.manApply-searchBar input {
    margin-left: 12px;
    width: 339px;
    background-color: #100F0F;
    border: none;
    outline: none;
    color: #d9d9d9;
}
.manApply-searchBar button {
    width: 24px;
    height: 24px;
    margin: 12px 12px 12px 0;
    padding: 0;
    background-color: #100F0F;
    border: none;
}
.manApply-searchBar img {
    width: 24px;
    height: 24px;
}

/*멤버리스트 타이틀*/
.manApply-listTitle {
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    width: 1200px;
    height: 49px;
}
.manApply-gen {
    display: flex;
    justify-content: center;
    margin-left: 62px;
    margin-right: 65px;
    width: 32px;
}
.manApply-department {
    display: flex;
    justify-content: center;
    margin-right: 78px;
    width: 195px;
}
.manApply-name {
    display: flex;
    justify-content: center;
    margin-right: 111px;
    width: 65px;
}
.manApply-timeOff,
.manApply-graduation,
.manApply-modify {
    display: flex;
    justify-content: center;
    margin-right: 62px;
    width: 86px;
}
.manApply-withdraw {
    display: flex;
    justify-content: center;
    width: 86px;
}

.manApply-memList ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.manApply-infogen {
    display: flex;
    justify-content: center;
    margin-left: 62px;
    margin-right: 65px;
    width: 32px;
}
.manApply-infodept {
    display: flex;
    justify-content: center;
    margin-right: 78px;
    width: 195px;
}
.manApply-infoname{
    display: flex;
    justify-content: center;
    margin-right: 111px;
    width: 65px;
}
.manApply-memList button {
    background-color: #100F0F;
    width: 86px;
    height: 33px;
    border-radius: 25px;
    border: 1px solid;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.manApply-btn-attend,
.manApply-btn-graduated,
.manApply-btn-timeOff,
.manApply-btn-ungraduated {
    margin-right: 62px;
}
.manApply-memList li a {
    margin-right: 62px;
}
.manApply-btn-attend,
.manApply-btn-graduated,
.manApply-btn-modify {
    color: #54ECC4;
    border-color: #54ECC4;
}
.manApply-btn-timeOff,
.manApply-btn-ungraduated {
    color: #b6b6b6;
    border-color: #b6b6b6;
}
.manApply-memList li {
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b6b6b6;
    width: 1200px;
}
.manApply-btn-withdraw {
    color: #FA0000;
    border-color: #FA0000;
}

/*페이지*/
.manApply-pagination {
    margin-top: 166px;
}
.manApply-pagination button {
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #54ECC4;
    background-color: #100F0F;
    border: 1px solid #54ECC4;
    border-radius: 50%;
    margin: 0 32px;
}
.manApply-pagination button:hover {
    background-color: #54ECC4;
    color: #000000;
}
.manApply-pagination button.manApply-pageActive {
    background-color: #54ECC4;
    color: #000000;
}