
.ManMemberModify {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1326px;
}

.ManMemberModify-title {
    margin: 209px 0 128px 0 ;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

/* YourComponent.css */

.horizontal-line-container {
    display: flex; /* Flexbox를 사용하여 가로 정렬 */
    align-items: center; /* 수직 정렬을 위해 가운데 정렬 */
    font-size: 24px;
    font-weight: bold;
  }
  
  .horizontal-line {
    border-bottom: 2px solid #323232; /* 가로 줄의 스타일 및 색상 지정 */
    width: 560px;
    margin: 0 10px; /* 가로 줄 좌우 여백 지정 (선택사항) */
  }
  


.ManMemberModify-button {
    font-size: 16px;
    position: absolute;
    top: 464px;
    
}



.ManMemberModify-checkbox {
    display: flex;
    flex-direction: row; /* 수평으로 배치 */
    margin-top: 100px;
    margin-left: 300px;
}

.ManMemberModify-button1,
.ManMemberModify-button2,
.ManMemberModify-button3 {
    display: flex;
    align-items: center; /* 세로 정렬 중앙 정렬 */
    margin-right: 340px; /* 필요에 따라 각 버튼 간격 조절 */

}

.ManMemberModify-box1 {
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 64px;
}

.ManMemberModify-name {
    position: absolute;
    width: 1200px;
    height: 64px;
    border-radius: 16px;
    border: solid 1px;
    border-color: #D9D9D9;
    background-color: #131313;
    margin-top: 153px;
    color: #b4b4b4;
}

.ManMemberModify-name::placeholder {
    display: inline-block;
    color: #b4b4b4;
    font-size: 16px;
    text-align: center;
  
  }

  .ManMemberModify-name:hover {
    border-color: #54ECC4;
  }

.ManMemberModify-name:focus{
    outline: none;
}

.ManMemberModify-box2 {
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 64px;
}

.ManMemberModify-phone{
    position: absolute;
    width: 1200px;
    height: 64px;
    border-radius: 16px;
    border: solid 1px;
    color: #b4b4b4;
    border-color: #D9D9D9;
    background-color: #131313;
    margin-top: 200px;
}

.ManMemberModify-phone:hover {
    border-color: #54ECC4;
  }

.ManMemberModify-phone:focus {
    outline: none;
}

.ManMemberModify-phone::placeholder {
    display: inline-block;
    color: #b4b4b4;
    font-size: 16px;
    text-align: center;  
  }


.ManMemberModify-button {
    position: absolute;
    bottom: 239px;
    width: 1200px;
    height: 64px;
    margin-top: 775px;
    background-color: #131313;
    border-radius: 16px;
    border: solid 1px #54ECC4;
    color: #54ECC4;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;

}

.ManMemberModify-button:hover {
    background-color: #54ECC4;
    color: #131313;
    cursor: pointer;
}




