
.ManStudyApply {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5000px;
    font-family: 'Inter', sans-serif;;
  }
  
.ManStudyApply-title {
    margin-top: 260px;
    font-size: 40px;
    font-weight: bold;
}

.ManStudyApply-box {
    margin-top: 49px;
}

.ManStudyApply-name {
    margin-top: 100px;
    width: 1157px;
    height: 56px;
    display: block;
    border-radius: 16px;
    background: none;
    border: 1px solid #D9D9D9;
    padding-left: 30px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    transition: border-color 0.3s, color 0.3s;;

}

.ManStudyApply-name:focus {
   outline: none;
}

.ManStudyApply-name:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}


.ManStudyApply-content {
    width: 1157px;
    height: 318px;
    border-radius: 16px;
    padding-left: 30px;
    display: block;
    font-weight: bold;
    font-size: 16px;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
    word-wrap: break-word; /* 일정 수 이상이 되면 단어 단위로 줄바꿈 */


}

.ManStudyApply-content:focus {
    outline: none;
}

.ManStudyApply-content:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}

.ManStudyApply-number {
    width: 1157px;
    height: 56px;
    border-radius: 16px;
    padding-left: 30px;
    font-size: 16px;
    display: block;
    font-weight: bold;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
}
.ManStudyApply-number:focus {
    outline: none;
}

.ManStudyApply-number:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}

.ManStudyApply-book {
    width: 1157px;
    height: 56px;
    border-radius: 16px;
    padding-left: 30px;
    font-size: 16px;
    display: block;
    font-weight: bold;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
}

.ManStudyApply-book:focus {
    outline: none;
}

.ManStudyApply-book:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}

.ManStudyApply-lecture {
    width: 1157px;
    height: 56px;
    border-radius: 16px;
    padding-left: 30px;
    font-size: 16px;
    display: block;
    font-weight: bold;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
}


.ManStudyApply-lecture:focus {
    outline: none;
}

.ManStudyApply-lecture:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}

.ManStudyApply-notion {
    width: 1157px;
    height: 56px;
    border-radius: 16px;
    padding-left: 30px;
    font-size: 16px;
    display: block;
    font-weight: bold;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
}

.ManStudyApply-notion:focus {
    outline: none;
}

.ManStudyApply-notion:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}

.ManStudyApply-subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 97px;
    margin-right: 1000px;
}
 
.ManStudyApply-1weeks {
    width: 1157px;
    height: 56px;
    border-radius: 16px;
    padding-left: 30px;
    font-size: 16px;
    display: block;
    font-weight: bold;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
}

.ManStudyApply-1weeks:focus {
    outline: none;
}

.ManStudyApply-1weeks:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}

.ManStudyApply-2weeks {
    width: 1157px;
    height: 56px;
    border-radius: 16px;
    padding-left: 30px;
    font-size: 16px;
    display: block;
    font-weight: bold;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
}

.ManStudyApply-2weeks:focus {
    outline: none;
}

.ManStudyApply-2weeks:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}


.ManStudyApply-3weeks {
    width: 1157px;
    height: 56px;
    border-radius: 16px;
    padding-left: 30px;
    font-size: 16px;
    display: block;
    font-weight: bold;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
}

.ManStudyApply-3weeks:focus {
    outline: none;
}

.ManStudyApply-3weeks:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}

.ManStudyApply-4weeks {
    width: 1157px;
    height: 56px;
    border-radius: 16px;
    padding-left: 30px;
    font-size: 16px;
    display: block;
    font-weight: bold;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
}

.ManStudyApply-4weeks:focus {
    outline: none;
}

.ManStudyApply-4weeks:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}

.ManStudyApply-5weeks {
    width: 1157px;
    height: 56px;
    border-radius: 16px;
    padding-left: 30px;
    font-size: 16px;
    display: block;
    font-weight: bold;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
}

.ManStudyApply-5weeks:focus {
    outline: none;
}

.ManStudyApply-5weeks:hover {
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
}

.plus{
    margin-top: 54px;
    width: 40px;
    height: 40px;
    border-radius: 50%;    

}


.plus:hover{
    cursor: pointer;
    background-color: #54ECC4;
    border-color: #54ECC4;
    transition: border-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;


}



.ManStudyApply-picture {
    font-size: 24px;
    font-weight: bold;
    margin-top: 98px;
    margin-right: 1020px;
    
}

.ManStudyApply-select {
    width:200px;
    height: 40px;
    border-radius: 16px;
    margin-right: 950px;
    margin-top: 20px;
    background-color: #131313;
    border: solid 1px  #D9D9D9;
    color: #D9D9D9;
    transition: background-color 0.3s, color 0.3s;
}

.ManStudyApply-select:hover {
    background-color: #54ECC4;
    border-color: #54ECC4;
    color: #131313;
    cursor: pointer;
}

.ManStudyApply-activ {
    font-size: 24px;
    font-weight: bold;
    margin-top: 98px;
    margin-right: 1040px;
}

.ManStudyApply-button {
    margin-top: 150px;
    width: 1157px;
    height: 56px;
    border-radius: 16px;
    background-color: #131313;
    border: solid 1px  #54ECC4;
    color: #54ECC4;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.ManStudyApply-select {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    text-align: center;
    cursor: pointer;


}

.ManStudyApply-button:hover {
    background-color: #54ECC4;
    color: #131313;
    cursor: pointer;
}


.ManStudyApply input.error {
    border: 1px solid red;
  }