@media only screen and (min-width: 768px) {
.studyInfo-title-wrapper {
  position: relative;
  top: 232px;
  left: 360px;
  text-align: left;
  display: flex;
}

.studyInfo-title {
  position: absolute;
  font-size: 40px;
  font-weight: 700;
}
.studyInfo-start-date {
  position: absolute;
  margin-left: 300px;
  margin-top: 29px;
  font-size: 16px;
}

.studyInfo-end-date {
  position: absolute;
  margin-left: 400px;
  margin-top: 29px;
  font-size: 16px;
}

.studyInfo-content-wrapper {
  position: relative;
  top: 392px;
  left: 360px;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.studyInfo-content {
  position: absolute;
  width: 1052px;
  font-size: 24px;
  text-align: left;
}
.studyInfo-image {
  position: absolute;
  width: 1200px;
  height: 800px;
  margin-top: 220px;
  background-position: center;
}

.studyInfo-refer {
  position: relative;
  top: 1524px;
  left: 360px;
}

.studyInfo-refer-title {
  font-size: 40px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 65px;
}

th,
.studyInfo-table-head {
  display: none;
}
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.studyInfo-table-content1 {
  width: 175px;
  font-size: 16px;
  font-weight: 700;
}
.studyInfo-table-content2 {
  width: 1000px;
  text-align: left;
  padding-left: 21px;
  box-sizing: border-box;
}

.studyInfo-weekly {
  position: relative;
  top: 2204px;
  left: 360px;
  width: 1200px;
}

.studyInfo-weekly-title {
  font-size: 40px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 65px;
}

.studyInfo-weekly-content {
  text-align: left;
  padding: 42px;
}

/* footer */
.studyInfo-footer {
  margin-top: 3319px;
}
}
