.makers-contents {
    width: 100vw;
    display: flex;
    justify-content: left;
}
.makers-read{
    position: absolute;
    top: 1141px;
}
.makers-pm{
    position: absolute;
    top: 1612px;
}
.makers-back{
    position: absolute;
    top: 2083px;
}
.makers-front{
    position: absolute;
    top: 2554px;
}
.makers-design{
    position: absolute;
    top: 3025px;
}


.makers-profile {
    width: 182.37px;
    height: 182.37px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 43.53px;
}
.makers-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.makers-name {
    margin-top: 40.1px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}
.makers-gi {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #D9D9D9;
}