/* SignUp1.css */

.SignUp1Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #131313;
  color: white;
  font-family: 'Inter', sans-serif;
}

.SignUp1Title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.SignUp1_form {
  margin-bottom: 185px;
}

.SignUp1_check {
  font-size: 16px;
  color:#B6B6B6;
  margin-bottom: 7px;
}

.SignUp1_number {
  font-size: 1em;
}

.SignUp1_input {

    display: block;
    width: 550px;
    height: 77px;
    border-radius: 25px;
    background: none;
    border: 2px solid #D9D9D9;
    padding-left: 30px;
    margin: 0 auto;
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin-bottom: 85px;
  transition: border-color 0.3s, color 0.3s;;
}

.SignUp1_input:focus {
  outline: none;
}

/* 포커스됐을 때 placeholder가 안 보이게 하는 CSS */
.SignUp1_input:focus::placeholder {
  opacity: 0; /* 포커스됐을 때 투명하게 만들어 placeholder를 숨김 */
}



.SignUp1_input:hover {
  border-color: #54ECC4;
}

.SignUp1_input::placeholder {
  color: #B6B6B6;
  font-weight:lighter;
}


.SignUp01_certification {
  cursor: pointer;
  border: 2px solid;
  width: 585px;
  height: 71px;
  font-size: 16px;
  border-color: #54ecc4;
  padding: 10px 20px;
  background-color: #131313;
  color: #54ecc4;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.SignUp01_certification:hover {
  background-color: #54ecc4;
  color: #131313;
}

.SignUp1_login {
  cursor: pointer;
  font-weight: bold;
  color: #54ecc4;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  margin-left: 20%;
}

/* Group 95 */

.Element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Element:before,
.Element:after {
  content: '';
  flex: 1;
  height: 3px;
  background: #54ecc4;
  width: 50%; /* 선의 길이를 50%로 조절 */
}

.Element:before {
  margin-bottom: 10px; /* 선과 내용 간격 조절 */
}

.Element:after {
  margin-top: 10px; /* 선과 내용 간격 조절 */
}


/* Subtract */
.subtract {
  position: absolute;
  width: 489px;
  height: 3px;
  left: 715px;
  top: 269px;
  background: #323232;
}

/* Line 10 */
.line10 {
  position: absolute;
  width: 489px;
  height: 3px;
  left: 715px;
  top: 272px;
}

/* Rectangle 929 */
.rectangle929 {
  position: absolute;
  width: 175.36px;
  height: 39.08px;
  left: 872.32px;
  top: 236.93px;
  background: #131313;
}

/* Ellipse 40 */
.ellipse40 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 1204px;
  top: 248px;
  background: #323232;
  border-radius: 50%;
}

/* Ellipse 39 */
.ellipse39 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 667px;
  top: 247px;
  border-radius: 50%;
  background: linear-gradient(180deg, #54ECC4 0%, #14B98D 100%);
}

/* 1 */
.one {
  position: absolute;
  width: 8px;
  height: 19px;
  left: calc(50% - 8px/2 - 269px);
  top: 262px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #131313;
}

/* 부원 인증 */
.certification {
  position: absolute;
  width: 47px;
  height: 15px;
  left: 667px;
  top: 310px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

/* 부원 정보 입력 */
.inputInfo {
  position: absolute;
  width: 72px;
  height: 15px;
  left: 1192px;
  top: 310px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #323232;
}

