.SignUp1page {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 5320px;
    background-color: #131313;
    font-family: 'Inter', sans-serif;
    display: flex;
  }
    
    .SignUp1titleWrap {
    /* DASOM */
  position: absolute;
  width: 151px;
  height: 48px;
  left: 884px;
  top: 233px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  
  color: #FFFFFF;
  
  
  
    }
    
    .SignUp1check {
      /* 이미 회원이신가요? */
  
      position: absolute;
      width: 131px;
      height: 19px;
      left: 894px;
      top: 319px;
  
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
  
      color: #B6B6B6;
    }
    
    .SignUp1loginbutton {
      position: absolute;
      width: 90px;
      height: 19px;
      left: 921px;
      top: 345px;
      margin-top: 10px;
      margin-left: -8px;
      font-size: 16px;
      font-weight: bold;
      background: none;
      border: none;
      color: #54ecc4;
      cursor: pointer;
      outline: none;
      text-align: center;
    }
  
    
    .SignUp1input {
      width: 585px;
      height: 77px;
      left: 667px;
      top: 549px;
      margin-top: 450px;
      border: 2px solid white;
      border-radius: 25px;
      outline: none;
      color: white;
      background-color: #131313;
    }
  
    .SignUp1input:hover {
      cursor:auto;
    }
  
    .SignUp1bottomButton {
  
      box-sizing: border-box;
      margin-top: 1%;
  
      position: absolute;
      width: 585px;
      height: 71px;
      left: 667px;
      right: 697px;
      background-color: #131313;
      border: 2px solid #54ECC4;
      border-radius: 25px;
      color: #54ECC4;
      font-weight: bold;
  
    }
    
    .SignUp1bottomButton:hover {
      background-color: #54ecc4;
      border-color: #54ECC4;
      color: #131313;
      cursor: pointer;
    }