.video-wrapper {
  position: relative;
  display: block;
  top: 0px;
  height: 1080px;
  background-color: #050505;
  width: 100%;
  text-align: center;
}
.video {
  position: relative;
  top: 250px;
  display: block;
  width: auto;
  height: 100%;
}

/* info */
.main-title {
  position: absolute;
  top: 90%;
  display: block;
  font-size: 40px;
  width: 100%;
  font-weight: 700;
}
.main-title-info {
  position: absolute;
  top: 100%;
  margin-top: 134px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main-title-info-title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
}
.main-title-info-content {
  width: 100%;
  font-size: 40px;
  font-weight: 500;
}
.foundation {
  position: absolute;
  display: block;
  margin-right: 50%;
}
.member {
  position: absolute;
  margin-right: 15%;
}
.operating {
  position: absolute;
  margin-left: 20%;
}
.expo {
  position: absolute;
  margin-left: 55%;
}

/* part */
.part {
  position: relative;
  top: 1761px;
  height: auto;
  text-align: center;
}
.part-title {
  top: 100%;
  font-size: 40px;
  width: 100%;
  font-weight: 700;
}
.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1300px;
  height: 700px;
  margin: 0 auto;
  margin-top: 110px;
}

.box {
  background-color: #323232;
  width: 536px;
  height: 260px;
  margin: 0 30px;
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
}
.part-info-title {
  font-size: 32px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.part-info-content {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  padding-left: 10px;
}

/* activity */
.activity {
  position: relative;
  top: 2300px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.activity-title {
  top: 100%;
  font-size: 40px;
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.activity-box-container {
  position: absolute;
  top: 110px;
}
.activity-box {
  display: flex;
  margin: 48px;
}
.image-box {
  background-image: url("../../../public/images/study-sample.jpeg");
  width: 593px;
  height: 297px;
  border-radius: 16px 0px 0px 16px;
  text-align: center;
  font-size: 40px;
  line-height: 315px;
  font-weight: 700;
}
.content-box {
  background-color: #323232;
  width: 607px;
  height: 297px;
  border-radius: 0px 16px 16px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 43px;
}

/* photo slider */
.slider {
  position: relative;
  top: 4800px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.slider-title {
  top: 100%;
  font-size: 40px;
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
