@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

.about {
    margin: 0;
    padding: 0;
    position: relative;
    width: 1920px;
    height: 5320px;
    background-color: #131313;
    font-family: 'Inter', sans-serif;
}

.main {
    width: 1920px;
    height: 1080px;
    background-color: black;
}
.main-text-box {
    position: absolute;
    width: 199px;
    height: 183px;
    top: 371px;
    left: 861px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.main-text1 {
    font-size: 39px;
    font-weight: 700;
    margin: 0;
}
.main-text2 {
    font-size: 15px;
    font-weight: 500;
    color: #B6B6B6;
    margin: 0;
    position: absolute;
    top: 67px;
}
.main-text3 {
    font-size: 23px;
    font-weight: 700;
    position: absolute;
    top: 133px;
}