.content{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myPage{
    position: absolute;
    top: 207px;
    width: 181px;
    height: 48px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Inter';
}
.myProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 392px;
    width: 416px;
    height: 381px;
    border-radius: 100px;
}
.table{
    position: absolute;
    top: 916px;
    border-collapse: collapse;
}
.dataHead{
    width: 175px;
    height: 49px;
    font-size: 16px;
    font-weight: bold;
    font-family:'Inter';
    border: 1px solid #D9D9D9;
}
.myData{
    width: 1025px;
    height: 49px;
    font-size: 16px;
    font-weight: medium;
    font-family:'Inter';
    text-indent: 1px !important;
    border: 1px solid #D9D9D9;
}
.fixMyDataBorder{
    position: absolute;
    top: 1219px;
    width: 440px;
    height: 64px;
    border: 2px solid #54ECC4;
    border-radius: 16px;
    background-color: #131313;
}
.fixMyDataFont{
    position: absolute;
    left: 172px;
    top: 23px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter';
    color: #54ECC4;
    text-align: center;
    cursor: pointer;
}