.myPageModify-content{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.title{
    position: absolute;
    top: 238px;
    font-size: 40px;
    font-weight: bold;
    cursor: default;
}
.gitHub{
    position: absolute;
    top: 439px;
    width: 1157px;
    height: 56px;
    color: #D9D9D9;
    
    border: 2px solid #D9D9D9;
    border-radius: 16px;
    background-color: #131313;
}
.gitHub::placeholder{  
    font-size: 16px;
    font-weight: medium;
    text-indent: 30px;
    color: #D9D9D9;
}
.gitHub:hover{
    cursor: auto;
}
.myPageModify-choiceFile{
    visibility: hidden;
    cursor: pointer;
}
.MyPageModify-choice{
    position: absolute;
    top: 539px;
    width: 1157px;
}
.profile{
    font-size: 24px;
    font-weight: bold;
    width: 130px;
    height: 29px;
    cursor: default;
}

.MyPageModify-choicePicture{  
    position: absolute;
    width: 200px;
    height: 40px;
    border: 2px solid #D9D9D9;
    border-radius: 16px;
    background-color: #131313;
    top: 48px;
}

.MyPageModify-choicePicture > p{
    position: absolute;
    left: 68px;
    margin-top: 10px;
    
    font-size: 16px;
    font-weight: medium;
    color: #D9D9D9;
    cursor: pointer;
}
.MyDataButtonBorder{
    margin-top: 117px;
    width: 1157px;
    height: 55px;
    border: 2px solid #54ECC4;
    border-radius: 16px;
    background-color: #131313;
}
.MyDataButtonFont{
    padding: 18px 534px;
    font-size: 16px;
    font-weight: bold;
    color: #54ECC4;
    text-align: center;
    cursor: pointer;
}