@media only screen and (min-width: 768px) {

.footer {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #1e1e1e;
  align-items: center;
  white-space: nowrap;
}

/* 로고 */
.footer-logo-container {
  position: absolute;
  left: 135px;
  top: 25px;
  height: 100px;
  width: 81px;
  padding-top: 30px;
}
.footer-img-logo {
  height: 69px;
  width: 69px;
}
.footer-logo-text {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
}
.footer-full-meaning {
  position: absolute;
  top: 150px;
  left: 135px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 700;
}

/* 메일 */
.footer-info {
  position: absolute;
  top: 188px;
  left: 135px;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}
.footer-icon-text-container > p {
  font-size: 16px;
  font-weight: 500;
}
.footer-icon-text-container {
  display: flex;
  align-items: center;
}
.footer-img-mail,
.footer-img-human {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

/* 채널 바로가기 */
.footer-sns {
  position: absolute;
  top: 31px;
  right: 80px;
  padding-top: 10px;
}
.footer-sns > p {
  font-size: 16px;
  font-weight: 500;
}
.footer-img-instagram {
  width: 65px;
  height: auto;
}
.footer-img-github {
  width: 60px;
  height: auto;
  margin-right: 30px;
}

.footer-bottom {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 280px;
}
/* 위치 */
.footer-location {
  position: absolute;
  left: 135px;
  top: 137px;
  display: flex;
  align-items: center;
}
.footer-img-map {
  height: auto;
  width: 24px;
  margin-right: 15px;
}

}
