.footer {
    position: relative;
    width: 100%;
    height: 680px;
    background-color: black;
    align-items: center;
    white-space: nowrap;
}

/* 로고 */
.footer-logo-container {
    position: absolute;
    left: 360px;
    top: 31px;
    height: 100px;
    width: 81px;
    padding-top: 30px;
}
.footer-img-logo {
    height: 69px;
    width: 69px;
}
.footer-logo-text {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
}
.footer-full-meaning {
    position: absolute;
    top: 157px;
    left: 360px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 700;
}

/* 메일 */
.footer-info {
    position: absolute;
    top: 202px;
    left: 360px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}
.footer-icon-text-container > p {
    font-size: 16px;
    font-weight: 500;
}
.footer-mail {
    cursor: pointer;
    text-decoration: underline;
}
.footer-icon-text-container {
    display: flex;
    align-items: center;
}
.footer-img-mail, .footer-img-human {
    width: 24px; /* 이미지 크기 추후 조정 */
    height: 24px;
    margin-right: 15px;
}

/* 채널 바로가기 */
.footer-sns {
    position: absolute;
    top: 31px;
    left: 1403px;
    padding-top: 20px;
}
.footer-sns > p {
    font-size: 16px;
    font-weight: 500;
}
.footer-img-instagram {
    width: 65px;
    height: auto;
}
.footer-img-github {
    width: 60px;
    height: auto;
    margin-right: 40px;
}

/* 위치 */
.footer-location {
    position: absolute;
    left: 360px;
    top: 376px;
    display: flex;
    align-items: center;
}
.footer-img-map {
    height: auto;
    width: 24px;
    margin-right: 15px;
}