span {
  cursor: pointer;
}

.nav-about {
  position: absolute;
  display: block;
  right: 1165px;
}
.nav-study {
  position: absolute;
  display: block;
  right: 1036px;
}
.nav-notice {
  position: absolute;
  display: block;
  right: 903px;
}
.nav-project {
  position: absolute;
  display: block;
  right: 755px;
}
.nav-recruit {
  position: absolute;
  display: block;
  right: 612px;
}
.nav-admin {
  position: absolute;
  display: block;
  right: 484px;
}
.nav-mypage {
  position: absolute;
  display: block;
  right: 339px;
}

/* limit header */

.nav-about-limit {
  position: absolute;
  display: block;
  left: 1088px;
}
.nav-project-limit {
  position: absolute;
  display: block;
  left: 1219px;
}
.nav-recruit-limit {
  position: absolute;
  display: block;
  left: 1367px;
}
.nav-login-limit {
  position: absolute;
  display: block;
  left: 1510px;
}
