@media only screen and (min-width: 768px) {

span {
  cursor: pointer;
}
.nav-admin {
  position: absolute;
  display: block;
  right: 1165px;
}
.nav-about {
  position: absolute;
  display: block;
  right: 1036px;
}
.nav-study {
  position: absolute;
  display: block;
  right: 903px;
}
.nav-notice {
  position: absolute;
  display: block;
  right: 765px;
}
.nav-project {
  position: absolute;
  display: block;
  right: 612px;
}
.nav-recruit {
  position: absolute;
  display: block;
  right: 474px;
}

.nav-mypage {
  position: absolute;
  display: block;
  right: 330px;
}

/* limit header */

.nav-login-limit {
  position: absolute;
  display: block;
  right: 195px;
}

}
