.content{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dasom{
    position: absolute;
    top: 340px;
    width: 151px;
    height: 48px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Inter';
}
.loginButton{
    position: absolute;
    top: 505px;
    width: 585px;
    height: 71px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter';
    color: #54ECC4;
    
    border: 2px solid #54ECC4;
    border-radius: 25px;
    background-color: #131313;
    cursor: pointer;
}
.noMember{
    position: absolute;
    top: 663px;
    font-size: 16px;
    font-weight: medium;
    color: #B6B6B6;
}
.goMember{
    position: absolute;
    top: 689px;
    font-size: 16px;
    font-weight: bold;
    color: #54ECC4;
}
.noMember,
.goMember{
    font-family:'Inter';
    text-align: center;
}
.loginButton:hover{
    background-color: #54ECC4;
    color: #131313;
}
.loginButton:hover +.noMember{
    filter:blur(0.6px);
}