@media only screen and (min-width: 768px) {
#Ap2-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#Ap2-first-forms{
    display: flex; /* flex 컨테이너로 설정 */
    justify-content: center; /* 자식 요소들 사이의 간격을 최대로 설정 */
    align-items: center; /* 세로 방향에서 중앙 정렬 */
    text-align: center;
    height: 100vh;
}
}

#Ap2-form-title{
    font-size: 40px;
    font-weight: bold;
}

#Ap2-sub-title{
    font-size: 24px;
    line-height: 50px;
}

.Ap2-mini-text{
    color: #54ECC4;
    cursor: Default;
}

