
#NMB_MAIN_BOX{
  -ms-overflow-style: none;
}

.NMB_Style_Reset {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar { /*스크롤 바 지우기(기능 유지)*/
    display: none;
}
#NMB_club_join{
    width: 100vw;
    height: 100vh;
}


  #NMB_text_box{
    width: 850px;
    height: 700px;
    margin: 0 auto;
    padding-top: 15vh;
  }
.NMB_big_box{
    width: 850px;
    height: 300px;
    border-radius: 15px;
    margin-top: 20px;
}

#NMB_bgstyle{
    width: 850px;
    height: 250px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #323232;
}
  .NMB_small_box{
    width: 410px;
    height: 300px;
    background-color: #323232;
    border-radius: 15px;
    float: left;
  }
  #NMB_null_box2{
    width: 30px;
    height: 300px;
    float: left;
  }

  #NMB_Main_text{
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 15vh;
  }

  .NMB_text_title{
    line-height: 80px;
    vertical-align: middle;
    text-align: left;
    margin:0 0 0 30px;
    font-size: 24px;
    font-weight: bold;
  }

  .NMB_sub_text{
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
    margin:0 0 0 30px;
    font-size: 16px;
  }

  .NMB_align_box{
    float: left;
  }
  .NMB_align_box > img{
    margin: 0 50px;
  }

  #NMB_center_box{
    width: 750px;
    height: 1000px;
    margin: 0 auto;
  }
  .NMB_text_titles{
    line-height: 40px;
    vertical-align: middle;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
  }

  .NMB_sub_texts{
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
    font-size: 16px;
    margin: 0;
  }

  #NMB_center_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .NMB_linkButton{
    width: 235px;
    height: 95px;
    background: none;
    border: 2px solid #54ECC4;
    line-height: 95px;
    border-radius: 25px;
    color: #54ECC4;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.2s;
  }

  .NMB_linkButton:hover{
    color: black;
    background:#54ECC4 ;
    font-weight: bold;
    transition: all 0.2s;
  }

  #NMB_ques{
    width: 100vw;
    height: 1000px;
    display: flex; /* flex 컨테이너로 설정 */
    justify-content: center; /* 자식 요소들 사이의 간격을 최대로 설정 */
    align-items: center; /* 세로 방향에서 중앙 정렬 */
    margin: 0 auto;
    text-align: center;
  }

  #NMB_ques_title{
    margin-bottom: 50px;
  }
  #NMB_ques_text{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  #NMB_ques_subtext{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #D9D9D9;
  }

  .NMB_ques_text{
    font-weight: bold;
    margin-left: 20px;
    font-size: 16px;
  }

  #footer_box{
    width: 100vw;
    height: 680px;
    display: flex; /* flex 컨테이너로 설정 */
    justify-content: center; /* 자식 요소들 사이의 간격을 최대로 설정 */
    align-items: center; /* 세로 방향에서 중앙 정렬 */
    margin: 0 auto;
    text-align: center;
  }

  .NMB_f_text{
    font-size: 16px;
    margin-bottom: 20px;
  }