@media only screen and (min-width: 768px) {
#NMB-MAIN-BOX{
  -ms-overflow-style: none;
}

.NMB-Style-Reset {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar { /*스크롤 바 지우기(기능 유지)*/
    display: none;
}
#NMB-club-join{
    width: 100vw;
    height: 100vh;
}


  #NMB-text-box{
    width: 850px;
    height: 700px;
    margin: 0 auto;
    padding-top: 15vh;
  }

  #NMB-text-box2{
      width: 850px;
      height: 700px;
      margin: 0 auto;
      padding-top: 15vh;
    }


.NMB-big-box{
    width: 850px;
    height: 300px;
    border-radius: 15px;
    margin-top: 20px;
}

#NMB-bgstyle{
    width: 850px;
    height: 250px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: #323232;
}


  .NMB-small-box{
    width: 410px;
    height: 300px;
    background-color: #323232;
    border-radius: 25px;
    float: left;

  }
  #NMB-null-box2{
    width: 30px;
    height: 300px;
    float: left;
  }

  #NMB-Main-text{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15vh;
  }

  .NMB-text-title{
    line-height: 80px;
    vertical-align: middle;
    text-align: left;
    margin:0 0 0 30px;
    font-size: 24px;
    font-weight: 500;
  }

  .NMB-sub-text{
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
    margin:0 0 0 30px;
    font-size: 16px;
  }

  .NMB-align-box{
    float: left;
  }

  .NMB-align-box > img{
    margin: 0 50px;
  }

  #NMB-center-box{
    width: 750px;
    height: 1000px;
    margin: 0 auto;
  }
  .NMB-text-titles{
    line-height: 40px;
    vertical-align: middle;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
  }

  .NMB-sub-texts{
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
    font-size: 16px;
    margin: 0;
  }

  .NMB-sub-texts-text{
      line-height: 30px;
      vertical-align: middle;
      text-align: left;
      font-size: 16px;
      color : red;
      margin: 0;
    }

  #NMB-center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .NMB-linkButton{
    margin-top: 50px;
    width: 235px;
    height: 70px;
    background: none;
    border: 1px solid #54ECC4;
    line-height: 70px;
    border-radius: 25px;
    color: #54ECC4;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s;
  }

  .NMB-linkButton:hover{
    color: black;
    background:#54ECC4 ;
    font-weight: bold;
    transition: all 0.2s;
  }

  #NMB-center-button-closed {
    width: 235px;
    height: 95px;
    background: none;
    border: 2px solid #b6b6b6;
    line-height: 95px;
    border-radius: 25px;
    color: #b6b6b6;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  #NMB-ques{
    width: 100vw;
    height: 1000px;
    display: flex; /* flex 컨테이너로 설정 */
    justify-content: center; /* 자식 요소들 사이의 간격을 최대로 설정 */
    align-items: center; /* 세로 방향에서 중앙 정렬 */
    margin: 0 auto;
    text-align: center;
  }

  #NMB-ques-title{
    margin-bottom: 50px;
  }
  #NMB-ques-text{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
  }

  #NMB-ques-subtext{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #D9D9D9;
  }

  .NMB-ques-text{
    font-weight: 500;
    margin-left: 20px;
    font-size: 16px;
  }

  #footer-box{
    width: 100vw;
    height: 680px;
    display: flex; /* flex 컨테이너로 설정 */
    justify-content: center; /* 자식 요소들 사이의 간격을 최대로 설정 */
    align-items: center; /* 세로 방향에서 중앙 정렬 */
    margin: 0 auto;
    text-align: center;
  }

  .NMB-f-text{
    font-size: 16px;
    margin-bottom: 20px;
  }
  }

