.projectInfo-title {
  position: relative;
  top: 250px;
  font-size: 40px;
  font-weight: 700;
}

.projectInfo-video-wrapper {
  position: relative;
  top: 6px;
}

.projectInfo-box-info {
  border: 1px solid #b6b6b6;
  border-radius: 30px;
  position: relative;
  top: 1300px;
  width: 1200px;
  height: 468px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;    
  word-wrap: break-word; /* 일정 수 이상이 되면 단어 단위로 줄바꿈 */

}
.projectInfo-info-title {
  font-size: 24px;
  font-weight: 700;
  color: #b6b6b6;
  margin-top: 40px;
  padding-left: 71px;
  padding-bottom: 40px;
}
.projectInfo-info-content {
  color: #b6b6b6;
  padding-top: 20px;
  box-sizing: border-box;
  padding-left: 71px;
  padding-right: 150px;
  font-size: 20px;
}
.projectInfo-box {
  position: relative;
  top: 1350px;
  display: flex;
  margin: 0 auto;
}
.projectInfo-box-sum {
  border: 1px solid #b6b6b6;
  border-radius: 30px;
  width: 585px;
  height: 236px;
  margin-right: 15px;
  box-sizing: border-box;
  text-align: left;
  padding: 20px;
}


.projectInfo-image {
  position: absolute;
  width: 1200px;
  height: 700px;
  margin-top: -980px;
  background-position: center;
}


.projectInfo-sum-title {
  color: #b6b6b6;
  font-size: 24px;
  font-weight: 700;
  margin-top: 14px;
  padding-left: 34px;
  padding-bottom: 40px;
}
.projectInfo-sum-content {
  color: #b6b6b6;
  padding-left: 34px;
  font-weight: bold;
  font-size: 16px;
}

.projectInfo-box-link {
  border: 1px solid #b6b6b6;
  border-radius: 30px;
  width: 585px;
  height: 236px;
  margin-left: 15px;
  box-sizing: border-box;
  text-align: left;
  padding: 20px;
}

.projectInfo-link-title {
  color: #b6b6b6;
  font-size: 24px;
  font-weight: 700;
  margin-top: 14px;
  padding-left: 34px;
  padding-bottom: 40px;
}
.projectInfo-link-img {
  display: flex;
  justify-content: center;
}

.projectInfo-link-content1 {
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  margin-left: 110px;
}

.projectInfo-link-content2 {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  margin-left: 70px;
  
}

.projectInfo-link-content3 {
  width: 50px;
  height: 26px;
  box-sizing: border-box;
  margin-left: 70px;
  margin-bottom: 25px;
}

.projectInfo-teamMember {
  position: relative;
  text-align: center;
  top: 2100px;
  display: flex;
  justify-content: center;
}
.projectInfo-teamMem-title {
  font-size: 40px;
  font-weight: 700;
}

.projectInfo-teamMem-members {
  display: flex;
  position: absolute;
  height: 400px;
  width: 100%;
  margin: 200px auto;
  justify-content: center;
}
.projectInfo-profileBox {
  width: 269px;
  height: 403px;
  float: left;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #323232;
  border-radius: 16px;
  padding-top: 30px;
  box-sizing: border-box;
}
.projectInfo-profileBox:not(:first-child) {
  margin-left: 194px;
}
.projectInfo-profile {
  width: 182px;
  height: 182px;
  border-radius: 100px;
  margin: 0 auto;
  overflow: hidden;
}
.projectInfo-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projectInfo-name {
  width: 149px;
  height: 24px;
  font-size: 20px;
  font-weight: bold;
  margin: 43px auto;
}
.projectInfo-gi {
  width: 30px;
  height: 17px;
  font-size: 14px;
  font-weight: medium;
  color: #d9d9d9;
  margin: 21px auto;
}

/* footer */
.projectInfo-footer {
  margin-top: 3019px;
}

.projectInfo-start-date {
  font-weight: medium;
  color: white;
  padding-top: 20px;
  box-sizing: border-box;
  padding-left: 71px;
  padding-right: 150px;
  margin-top: -43px;
  margin-left: 120px;
}

.projectInfo-end-date {
  font-weight: medium;
  color: white;
  padding-top: 20px;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 150px;
  margin-left: 233px;
  margin-top: -43px;

}