.projectInfo-title {
  position: relative;
  top: 250px;
  font-size: 40px;
  font-weight: 700;
}

.projectInfo-video-wrapper {
  position: relative;
  top: 538px;
}

.projectInfo-box-info {
  border: 1px solid #b6b6b6;
  border-radius: 30px;
  position: relative;
  top: 1200px;
  width: 1200px;
  height: 468px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}
.projectInfo-info-title {
  font-size: 24px;
  font-weight: 700;
  color: #b6b6b6;
  margin-top: 40px;
  padding-left: 71px;
  padding-bottom: 40px;
}
.projectInfo-info-content {
  color: #b6b6b6;
  padding-top: 20px;
  box-sizing: border-box;
  padding-left: 71px;
  padding-right: 150px;
}
.projectInfo-box {
  position: relative;
  top: 1250px;
  display: flex;
  margin: 0 auto;
}
.projectInfo-box-sum {
  border: 1px solid #b6b6b6;
  border-radius: 30px;
  width: 585px;
  height: 236px;
  margin-right: 15px;
  box-sizing: border-box;
  text-align: left;
  padding: 20px;
}
.projectInfo-sum-title {
  color: #b6b6b6;
  font-size: 24px;
  font-weight: 700;
  margin-top: 14px;
  padding-left: 34px;
  padding-bottom: 40px;
}
.projectInfo-sum-content {
  color: #b6b6b6;
  padding-left: 34px;
}

.projectInfo-box-link {
  border: 1px solid #b6b6b6;
  border-radius: 30px;
  width: 585px;
  height: 236px;
  margin-left: 15px;
  box-sizing: border-box;
  text-align: left;
  padding: 20px;
}

.projectInfo-link-title {
  color: #b6b6b6;
  font-size: 24px;
  font-weight: 700;
  margin-top: 14px;
  padding-left: 34px;
  padding-bottom: 40px;
}
.projectInfo-link-img {
  display: flex;
  justify-content: center;
}
.projectInfo-link-content1 {
  width: 42.59px;
  height: 42.59px;
  /* background-image: url("../../../public/images/github.png"); */
  background-color: aquamarine;
  box-sizing: border-box;
  margin: 25px;
}
.projectInfo-link-content2 {
  width: 42.59px;
  height: 42.59px;
  /* background-image: url("../../../public/images/github.png"); */
  background-color: aquamarine;
  box-sizing: border-box;
  margin: 25px;
}
.projectInfo-link-content3 {
  width: 42.59px;
  height: 42.59px;
  /* background-image: url("../../../public/images/github.png"); */
  background-color: aquamarine;
  box-sizing: border-box;
  margin: 25px;
}

.projectInfo-teamMember {
  position: relative;
  top: 2100px;
}
.projectInfo-teamMem-title {
  font-size: 40px;
  font-weight: 700;
}

/* footer */
.projectInfo-footer {
  margin-top: 3019px;
}
